<app-title title="Defer Triggers" />

<section>
  <h1 class="text-xl">Interacciones</h1>
  <hr class="my-2" />

  <button
    #btnInteraction
    class="p-2 bg-blue-500 hover:bg-blue-700 transition-all rounded text-white my-2 w-[200px]"
  >
    Click me!
  </button>

  @defer (on interaction(btnInteraction)) {
  <app-heavy-loaders-fast
    cssClass="bg-indigo-500 h-20 grid text-center mb-3 flex justify-center items-center"
  >
    <span class="text-white font-semibold">On Interaction Button</span>
  </app-heavy-loaders-fast>
  } @placeholder {
  <div
    class="w-full h-20 bg-purple-100 grid text-center mb-3 justify-center items-center"
  >
    <span class="font-semibold">Click en el Button</span>
  </div>
  } @defer (on interaction) {
  <app-heavy-loaders-fast
    cssClass="bg-yellow-500 h-20 grid text-center mb-3 flex justify-center items-center"
  >
    <span class="text-white font-semibold">On Interaction</span>
  </app-heavy-loaders-fast>
  } @placeholder {
  <div
    class="w-full h-20 bg-purple-100 grid text-center mb-3 justify-center items-center"
  >
    <span class="font-semibold">Click en el div</span>
  </div>
  }
</section>

<section>
  <hr class="my-2" />

  @defer (on hover) {
  <app-heavy-loaders-fast
    cssClass="bg-red-500 h-20 grid text-center mb-3 flex justify-center items-center"
  >
    <span class="text-white font-semibold">On Interaction Hover</span>
  </app-heavy-loaders-fast>
  } @placeholder {
  <div
    class="w-full h-20 bg-purple-100 grid text-center mb-3 justify-center items-center"
  >
    <span class="font-semibold">Hover en el div</span>
  </div>
  }
</section>

<section>
  <hr class="my-2" />

  @defer (on immediate) {
  <app-heavy-loaders-fast
    cssClass="bg-green-500 h-20 grid text-center mb-3 flex justify-center items-center"
  >
    <span class="text-white font-semibold">On Interaction Immediate</span>
  </app-heavy-loaders-fast>
  } @placeholder {
  <div
    class="w-full h-20 bg-purple-100 grid text-center mb-3 justify-center items-center"
  >
    <span class="font-semibold">Div Immediate</span>
  </div>
  }
</section>

<section>
  <hr class="my-2" />

  @defer (on timer(2000)) {
  <app-heavy-loaders-fast
    cssClass="bg-orange-500 h-20 grid text-center mb-3 flex justify-center items-center"
  >
    <span class="text-white font-semibold">On Interaction Timer</span>
  </app-heavy-loaders-fast>
  } @placeholder {
  <div
    class="w-full h-20 bg-purple-100 grid text-center mb-3 justify-center items-center"
  >
    <span class="font-semibold">2 segundos</span>
  </div>
  }
</section>

<section>
  <hr class="my-2" />

  @defer (on hover; prefetch on idle) {
  <app-heavy-loaders-fast
    cssClass="bg-blue-500 h-20 grid text-center mb-3 flex justify-center items-center"
  >
    <span class="text-white font-semibold">On Interaction Hover, On Interaction Idle</span>
  </app-heavy-loaders-fast>
  } @placeholder {
  <div
    class="w-full h-20 bg-purple-100 grid text-center mb-3 justify-center items-center"
  >
    <span class="font-semibold">Hover</span>
  </div>
  }
</section>
